<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{'/css/file.css'}" type="text/css">
<div class=".title">
    <p  style="text-align:center">请选择文件</p>
</div>
<div>
    <form method="post" action="multiUpload" enctype="multipart/form-data">
        姓名：<input type="text" name="name">
        请选择文件：
        <input type="file" name="file">
        <div>
            <button type="submit" >提交</button>
            <button type="reset">重置</button>
        </div>
    </form>
</div>
</html>